.embla {
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 45%;
}
.embla__viewport {
    overflow: hidden;
}
.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
}



.embla__progress__bar {
    background-color: var(--text-body);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: -100%;
}
.embla__controls {
    grid-template-columns: auto 1fr auto;
}
.embla__progress {
    justify-self: center;
    transition: opacity 0.3s ease-in-out;
    width: 8rem;
}
.embla__progress--hidden {
    opacity: 0;
}
.embla__progress__bar {
    animation-name: autoplay-progress;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.embla__progress--hidden .embla__progress__bar {
    animation-play-state: paused;
}
@keyframes autoplay-progress {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(100%, 0, 0);
    }
}
